.Header{
    width: 1000%;
    max-width: 1530px;
    margin: 0 auto;
    width: 100%;
    background-color: #121212;
    align-items: center;
    position: fixed;
    z-index: 5000;
}
.Header__logo{
    color:#EA5915;
    font-size: 25px;
    font-weight: bold;
}
.Header__link{
    color:#887C70;
    font-family: sans-serif;
    font-weight: 400;
    gap: 50px;
    padding-right: 50px;
}
.Header__link-title{
    transition: 1s;
    border-bottom: #EA5915;

}
.Header__link-title:hover{
    color: #EA5915;
    position: relative;
    border-bottom: 1px solid #EA5915;
   
}